<footer>
  <p id="watermark">
    Copyright & copy; <br />
    Luca Pavel-Andrei
  </p>
  <a id="banner"
    >Acesta este proiectul de licenta. Acceptati cookie-uri?
    <button id="ok_cookies">Ok</button></a
  >

  <address>
    <a href="mailto:lpaelectronics@gmail.com">Trimiteti Email la LPA Hive</a>
    <br />
    <a href="tel:0726915526">Sunati LPA Hive</a>
  </address>

  <a id="link-top" href="#top" title="Go to top">
    <div>
      &#129081;
      <p class="hovertext">Go on top</p>
    </div>
  </a>
  <a href="/terms-conditions">Termeni si conditii</a> <br />
  <a href="/privacy-policy">Privacy policy</a>

  <p><small>Copyright &copy; 2023 Luca Pavel-Andrei</small></p>
  <p>Data crearii paginii: <time datetime="2023-04-10"> 10-04-2023 </time></p>
</footer>
